<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom bg-light">
  <div class="container">
    <a class="navbar-brand" ><img src="assets/images/logo.png"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <button type="button" class="btn">
        <img src="assets/images/flag-england.svg" alt="Flag" />
      </button>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="bg-white border rounded my-3 px-5 py-3">
        <ul class="wizard">
          <li class="step-done"><a >Your Information</a></li>
          <li class="step-active"><a >Your Preferences</a></li>
          <li><a disabled >You Experience</a></li>
          <li><a disabled >Profile Settings</a></li>
        </ul>
        <div class="progress mt-3 ">
          <div class="progress-bar btn-primary" role="progressbar" style="width: 6%" aria-valuenow="25"
            aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <span class="fs-6"><b>1/5</b></span>
        <div class="text-center">
          <h3 class="fs-6 fw-bold">What's important to you for your next role (Optional - 1/2 sentences)?</h3>
          <div class="bg-light-gray">
            <p class="text-muted fs-13 pb-5">
              list any must-haves in your next position (e.g. company size, company
              culture, felxible working, materity and paternity policies, location...)
            </p>
          </div>
          <button type="button" class="btn btn-outline-primary text-primary fs-14 me-2">Back</button>
          <button type="button" class="btn btn-primary fs-14">Next</button>
        </div>
      </div>

    </div>
  </div>