<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
  <div class="container">
    <a class="navbar-brand"><img src="assets/images/logo.png"></a>
  </div>
</nav>
<div class="py-4">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 d-flex flex-column">
        <div class="bg-white p-3 border">
          <div class="row">
            <div class="col-2">
              <img class="round img-fluid" src="assets/images/linkedin.png" alt="LinkedIn">
            </div>
            <div class="col-8">
              <h2 class="fs-6 fw-bold">UX & UI Designer | LinkedIn</h2>
              <p>
                It is a long established fact that a reader will be distracted by the readable content of a page
                when
                looking at its layout.
              </p>
              <ul class="m-0 p-0 fs-14">
                <li class="d-inline-block text-nowrap me-4 mb-2">
                  <img class="me-2" src="assets/images/location.svg">London,UK
                </li>
                <li class="d-inline-block text-nowrap me-4 mb-2">
                  <img class="me-2" src="assets/images/Vector.svg">Sponsorshop
                  provided
                </li>
                <li class="d-inline-block text-nowrap me-4 mb-2"><img class="me-2" src="assets/images/75k.svg">75k</li>
                <li class="d-inline-block text-nowrap me-4 mb-2">
                  <img class="me-2" src="assets/images/Group.svg">Associate
                </li>
                <li class="d-inline-block text-nowrap me-4 mb-2">
                  <img class="me-2" src="assets/images/work.svg">Full Time
                </li>
                <li class="d-inline-block text-nowrap me-4 mb-2">
                  <img class="me-2" src="assets/images/company.svg">Startup
                </li>
                <li class="d-inline-block text-nowrap me-4 mb-2">
                  <img class="me-2" src="assets/images/language.svg">English,French
                </li>
              </ul>
            </div>
            <div class="col-2 text-end">
              <div class="pb-4">
                <a><img src="assets/images/share.svg" alt="Share" /></a>
              </div>
              <span class="badge fw-normal bg-theme"><span class="text-primary">120</span> Views</span>
            </div>
          </div>
        </div>
        <div class="bg-white fs-14 p-3 border">
          Marzipan brownie tootsie roll jelly beans chocolate cake macaroon jelly beans chupa chups pastry. Gummies
          marzipan croissant powder bear claw. Chupa chups cookie sweet sweet sesame snaps bear claw sweet roll ice
          cream tootsie roll...
        </div>
        <div class="bg-theme d-flex align-items-center justify-content-center h-100">
          <div class="text-center login">
            <div class="row">
              <div class="col">
                <h2 class="fs-4 fw-semi-bold mb-5">Login to view full job description</h2>
                <input class="form-control mb-3" type="text" placeholder="Username/Email address">
                <div class="input-icon-group mb-3">
                  <input class="form-control" type="password" id="password" aria-describedby="password"
                    placeholder="Password">
                  <a class="input-icon">
                    <img src="assets/images/Eye.svg" alt="Show Password" />
                  </a>
                </div>
                <div class="form-check mb-3 text-start">
                  <input class="form-check-input" type="checkbox" value="" id="remember-me">
                  <label class="form-check-label fs-12 text-muted" for="remember-me">
                    Remember me
                  </label>
                </div>
                <div class="d-grid mb-3">
                  <button type="button" class="btn btn-primary">Login</button>
                </div>
                <a class="text-primary text-decoration-none fs-12">FORGOT PASSWORD</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="bg-white p-4 border text-center h-100">
          <h3 class="fs-6 fw-bold text-primary">Why apply through movemeon</h3>
          <div class="mt-5 px-5">
            <img class="mb-3" src="assets/images/Roles.svg" alt="It Works" />
            <h4 class="fs-6 fw-bold mb-3">It works</h4>
            <p class="fs-12">there are currently 65 movemeon candidates interviewing for different roles</p>
          </div>
          <div class="mt-5 px-5">
            <img class="mb-3" src="assets/images/User.svg" alt="User" />
            <h4 class="fs-6 fw-bold mb-3">It's in our interest too for you to get the job</h4>
            <p class="fs-12">
              (we get paid based on results). Our success team work closely with hiring
              managers
              to ensure your profile gets reviewed
            </p>
          </div>
          <div class="mt-5 px-5">
            <img class="mb-3" src="assets/images/Bulb.svg" alt="Idea" />
            <h4 class="fs-6 fw-bold mb-3">more information and tips about the interview process</h4>
            <p class="fs-12">
              We give you more information and tips about the interview process (directly from
              the hiring manager). You can also ask our dedicated success team
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>