<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom bg-light">
    <div class="container">
      <a class="navbar-brand" ><img src="assets/images/logo.png"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" id="home" routerLink="/home">
              <img class="me-2" src="assets/images/Home-active.svg" alt="home" />
              Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="jobs" routerLink="/jobs/all-jobs">
              <img class="me-2" src="assets/images/jobs.svg" alt="jobs" />
              Jobs
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="invites">
              <img class="me-2" src="assets/images/invites.svg" alt="invites" />
              Invites
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="Application">
              <img class="me-2" src="assets/images/Application.svg" alt="Application" />
              Application
            </a>
          </li>
        </ul>
        <div class="w-20"></div>
        <button type="button" class="btn">
          <img src="assets/images/notifications.svg" alt="Flag" />
          <span class="badge bg-danger">10</span>
        </button>
        <button type="button" class="btn">
          <img src="assets/images/flag-england.svg" alt="Flag" />
        </button>
        <div class="btn-group">
          <button type="button" class="btn btn-outline dropdown-toggle" data-bs-toggle="dropdown"
                  data-bs-display="static" aria-expanded="false">
            <img src="assets/images/Avatar.png" alt="Avatar" />
          </button>
          <ul class="dropdown-menu dropdown-menu-lg-end">
            <li><button class="dropdown-item" type="button">Action</button></li>
            <li><button class="dropdown-item" type="button">Another action</button></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
