 <div class="bg-white border rounded my-4">
        <ul class="nav nav-fill">
          <li class="nav-item">
            <a class="nav-link fs-14" >
              <img class="me-2" src="assets/images/feed.svg" alt="Live Jobs" />Live Jobs
              <span class="badge">931</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link fs-14 active" id="matchedjobs" >
              <img class="me-2" src="assets/images/star-active.svg" alt="Matched Jobs" />Matched Jobs
              <span class="badge">12</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link fs-14" >
              <img class="me-2" src="assets/images/invites.svg" alt="Invited Jobs" />Invited Jobs
              <span class="badge">12</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link fs-14" id="savedjobs" >
              <img class="me-2" src="assets/images/Favorite.svg" alt="Saved jobs" />Saved jobs
              <span class="badge">12</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link fs-14 dropdown-toggle"  id="more" data-bs-toggle="dropdown"
              aria-expanded="false">
              <img class="me-2" src="assets/images/more.svg" alt="More" />More
            </a>
            <ul class="dropdown-menu" aria-labelledby="more">
              <li><a class="dropdown-item" >Action</a></li>
              <li><a class="dropdown-item" >Another action</a></li>
            </ul>
          </li>
        </ul>
      </div>
