
<div class="bg-white border rounded my-4">
        <ul class="nav nav-fill">
          <li class="nav-item">
            <a class="nav-link fs-14"  routerLink="/jobs/all-jobs">
              <img class="me-2" src="assets/images/feed.svg" alt="Live Jobs" />
              Live Jobs
              <span class="badge">931</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link fs-14 active"  id="matchedjobs" routerLink="/jobs/matched-jobs">
              <img class="me-2" src="assets/images/star.svg" alt="Matched Jobs" />
              Matched Jobs
              <span class="badge">12</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link fs-14" >
              <img class="me-2" src="assets/images/invites.svg" alt="Invited Jobs" />
              Invited Jobs
              <span class="badge">12</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link fs-14 "  id="savedjobs"  routerLink="/jobs/saved-jobs">
              <img class="me-2" src="assets/images/Favorite-Active.svg" alt="Saved jobs" />
              Saved jobs
              <span class="badge">12</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link fs-14 dropdown-toggle"  id="more" data-bs-toggle="dropdown"
              aria-expanded="false">
              <img class="me-2" src="assets/images/more.svg" alt="More" />
              More
            </a>
            <ul class="dropdown-menu" aria-labelledby="more">
              <li><a class="dropdown-item" >Action</a></li>
              <li><a class="dropdown-item" >Another action</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div>
        <div class="row">
          <div class="col-8">
            <div class="d-flex align-items-center d-sm-none">
              <a data-bs-toggle="collapse" href="#collapseSearch" role="button" aria-expanded="false" class="me-2"
                aria-controls="collapseSearch">
                <img src="assets/images/search.svg" alt="search">
              </a>
              <button class="btn bg-light-gray">
                <img src="assets/images/filter.svg" alt="Filter" />
                Filter
              </button>
            </div>
            <div class="d-none d-sm-flex justify-content-between align-items-center mb-4">
              <div class="input-icon-group w-100 me-2 icon-left">
                <img class="input-icon" src="assets/images/search.svg" alt="search">
                <input type="text" class="form-control bg-theme me-3" placeholder="strartegy" aria-label="strartegy"
                  aria-describedby="addon-wrapping">
              </div>
              <button type="button" class="btn btn-primary fs-14">Search</button>
            </div>
          </div>
          <div class="col-4 d-flex flex-column align-items-end">
            <div class="btn-group mb-4">
              <button type="button" class="btn rounded bg-light-gray dropdown-toggle text-muted bg-gray"
                data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
                <span class="me-5">Sort by</span>
              </button>
              <ul class="dropdown-menu dropdown-menu-lg-end">
                <li><button class="dropdown-item" type="button">Action</button></li>
                <li><button class="dropdown-item" type="button">Another action</button></li>
              </ul>
            </div>
          </div>
        </div>
        <div id="collapseSearch" class="collapse">
          <div class="d-flex justify-content-between align-items-center mb-4">
            <div class="input-icon-group w-100 me-2 icon-left">
              <img class="input-icon" src="assets/images/search.svg" alt="search">
              <input type="text" class="form-control bg-theme me-3" placeholder="strartegy" aria-label="strartegy"
                aria-describedby="addon-wrapping">
            </div>
            <button type="button" class="btn btn-primary fs-14">Search</button>
          </div>
        </div>
        <div class="col bg-light-gray fs-14 text-center text-muted rounded-top p-3">
          <img class="me-2" src="assets/images/Info.svg" alt="Info">
          Matches are all the jobs inthe line with your expereince and preferences
        </div>
        <div class="bg-white rounded p-3 border">
          <div class="row">
            <div class="col col-auto">
              <img class="round img-fluid" src="assets/images/linkedin2.png" alt="LinkedIn2">
            </div>
            <div class="col">
              <h2 class="fs-14 fw-bold">Movemeon Strategy Manager | Linkedin</h2>
              <p class="fs-14 m-0">Pastry sesame snaps dragée lemon drops marshmallow dessert icing.</p>
              <span class="badge fw-bold bg-theme btn-light mb-2">Shortlisting in <span class="text-primary">2
                  days</span></span>
              <ul class="m-0 p-0 fs-13">
                <li class="d-inline-block text-nowrap me-4 mb-2"><img class="me-2" src="assets/images/location.svg">London,UK
                </li>
                <li class="d-inline-block text-nowrap me-4 mb-2"><img class="me-2" src="assets/images/Vector.svg">Sponsorshop
                  provided</li>
                <li class="d-inline-block text-nowrap me-4 mb-2"><img class="me-2" src="assets/images/75k.svg">75k</li>
                <li class="d-inline-block text-nowrap me-4 mb-2"><img class="me-2" src="assets/images/Group.svg">Associate
                </li>
                <li class="d-inline-block text-nowrap me-4 mb-2"><img class="me-2" src="assets/images/jobs-active.svg">Full
                  Time
                </li>
              </ul>
            </div>
            <div class="col col-auto text-end d-none d-sm-block">
              <div class="d-flex flex-column">
                <div class="pb-4">
                  <span class="badge fw-normal rounded-pill text-danger border  border-danger me-2">viewed</span><a
                    class="me-2" ><img src="assets/images/Favorite.svg" alt="Favorite2"></a>
                </div>
                <span class="badge fw-normal bg-gray text-dark py-2"><span><b>60%</b></span> Match</span>
              </div>
            </div>
          </div>
        </div>
        <div class="bg-white rounded p-3 border my-3">
          <div class="row">
            <div class="col col-auto">
              <img class="round img-fluid" src="assets/images/google.png" alt="google">
            </div>
            <div class="col">
              <h2 class="fs-14 fw-bold">Movemeon Strategy Maneager | Linkedin</h2>
              <p class="fs-14 m-0">Pastry sesame snaps dragée lmon drops marshmallow dessert icing.</p>
              <span class="badge fw-bold bg-theme btn-light mb-2">Shortlisting in <span class="text-primary">2
                  days</span></span>
              <ul class="m-0 p-0 fs-13">
                <li class="d-inline-block text-nowrap me-4 mb-2"><img class="me-2" src="assets/images/location.svg">London,UK
                </li>
                <li class="d-inline-block text-nowrap me-4 mb-2"><img class="me-2" src="assets/images/Vector.svg">Sponsorshop
                  provided</li>
                <li class="d-inline-block text-nowrap me-4 mb-2"><img class="me-2" src="assets/images/75k.svg">75k</li>
                <li class="d-inline-block text-nowrap me-4 mb-2"><img class="me-2" src="assets/images/Group.svg">Associate
                </li>
                <li class="d-inline-block text-nowrap me-4 mb-2"><img class="me-2" src="assets/images/jobs-active.svg">Full
                  Time
                </li>
              </ul>
            </div>
            <div class="col col-auto text-end d-none d-sm-block">
              <div class="d-flex flex-column">
                <div class="pb-4">
                  <span class="badge fw-normal rounded-pill text-danger border  border-danger me-2">viewed</span><a
                    class="me-2" ><img src="assets/images/Favorite.svg" alt=""></a>
                </div>
                <span class="badge fw-normal bg-gray text-dark py-2"><span><b>60%</b></span> Match</span>
              </div>
            </div>
          </div>
        </div>
        <div class="bg-white rounded p-3 border my-3">
          <div class="row">
            <div class="col col-auto">
              <img class="round img-fluid" src="assets/images/M.png" alt="image 1">
            </div>
            <div class="col">
              <h2 class="fs-14 fw-bold">Movemeon Strategy Manager | Linkedin</h2>
              <p class="fs-14 m-0">Pastry sesame snaps dragée lemon drops marshmallow dessert icing.</p>
              <span class="badge fw-bold bg-theme btn-light mb-2">Shortlisting in <span class="text-primary">2
                  days</span></span>
              <ul class="m-0 p-0 fs-13">
                <li class="d-inline-block text-nowrap me-4 mb-2"><img class="me-2" src="assets/images/location.svg">London,UK
                </li>
                <li class="d-inline-block text-nowrap me-4 mb-2"><img class="me-2" src="assets/images/Vector.svg">Sponsorshop
                  provided</li>
                <li class="d-inline-block text-nowrap me-4 mb-2"><img class="me-2" src="assets/images/75k.svg">75k</li>
                <li class="d-inline-block text-nowrap me-4 mb-2"><img class="me-2" src="assets/images/Group.svg">Associate
                </li>
                <li class="d-inline-block text-nowrap me-4 mb-2"><img class="me-2" src="assets/images/jobs-active.svg">Full
                  Time
                </li>
              </ul>
            </div>
            <div class="col col-auto text-end d-none d-sm-block">
              <div class="d-flex flex-column">
                <div class="pb-4">
                  <span class="badge fw-normal rounded-pill text-danger border  border-danger me-2">viewed</span><a
                    class="me-2" ><img src="assets/images/Favorite.svg" alt="Favorite2"></a>
                </div>
                <span class="badge fw-normal bg-gray text-dark py-2"><span><b>60%</b></span> Match</span>
              </div>
            </div>
          </div>
        </div>
        <div class="bg-white rounded p-3 border my-3">
          <div class="row">
            <div class="col col-auto">
              <img class="round img-fluid" src="assets/images/image 1.png" alt="image 1">
            </div>
            <div class="col">
              <h2 class="fs-14 fw-bold">Movemeon Strategy Manager | Linkedin</h2>
              <p class="fs-14 m-0">Pastry sesame snaps dragée lemon drops marshmallow dessert icing.</p>
              <span class="badge fw-bold bg-theme btn-light mb-2">Shortlisting in <span class="text-primary">2
                  days</span></span>
              <ul class="m-0 p-0 fs-13">
                <li class="d-inline-block text-nowrap me-4 mb-2"><img class="me-2" src="assets/images/location.svg">London,UK
                </li>
                <li class="d-inline-block text-nowrap me-4 mb-2"><img class="me-2" src="assets/images/Vector.svg">Sponsorshop
                  provided</li>
                <li class="d-inline-block text-nowrap me-4 mb-2"><img class="me-2" src="assets/images/75k.svg">75k</li>
                <li class="d-inline-block text-nowrap me-4 mb-2"><img class="me-2" src="assets/images/Group.svg">Associate
                </li>
                <li class="d-inline-block text-nowrap me-4 mb-2"><img class="me-2" src="assets/images/jobs-active.svg">Full
                  Time
                </li>
              </ul>
            </div>
            <div class="col col-auto text-end d-none d-sm-block">
              <div class="d-flex flex-column">
                <div class="pb-4">
                  <span class="badge fw-normal rounded-pill text-danger border  border-danger me-2">viewed</span><a
                    class="me-2" ><img src="assets/images/Favorite.svg" alt="Favorite2"></a>
                </div>
                <span class="badge fw-normal bg-gray text-dark py-2"><span><b>60%</b></span> Match</span>
              </div>
            </div>
          </div>
        </div>
        <h2 class="fs-6 fw-bold py-3 m-0">Other jobs you may like</h2>
        <div class="bg-white rounded p-3 border">
          <div class="row">
            <div class="col col-auto">
              <img class="round img-fluid" src="assets/images/linkedin2.png" alt="LinkedIn2">
            </div>
            <div class="col">
              <h2 class="fs-14 fw-bold">Movemeon Strategy Manager | Linkedin</h2>
              <p class="fs-14 m-0">Pastry sesame snaps dragée lemon drops marshmallow dessert icing.</p>
              <span class="badge fw-bold bg-theme btn-light mb-2">Shortlisting in <span class="text-primary">2
                  days</span></span>
              <ul class="m-0 p-0 fs-13">
                <li class="d-inline-block text-nowrap me-4 mb-2"><img class="me-2" src="assets/images/location.svg">London,UK
                </li>
                <li class="d-inline-block text-nowrap me-4 mb-2"><img class="me-2" src="assets/images/Vector.svg">Sponsorshop
                  provided</li>
                <li class="d-inline-block text-nowrap me-4 mb-2"><img class="me-2" src="assets/images/75k.svg">75k</li>
                <li class="d-inline-block text-nowrap me-4 mb-2"><img class="me-2" src="assets/images/Group.svg">Associate
                </li>
                <li class="d-inline-block text-nowrap me-4 mb-2"><img class="me-2" src="assets/images/jobs-active.svg">Full
                  Time
                </li>
              </ul>
            </div>
            <div class="col col-auto text-end d-none d-sm-block">
              <div class="d-flex flex-column">
                <div class="pb-4">
                  <span class="badge fw-normal rounded-pill text-danger border  border-danger me-2">viewed</span><a
                    class="me-2" ><img src="assets/images/Favorite.svg" alt="Favorite2"></a>
                </div>
                <span class="badge fw-normal bg-gray text-dark py-2"><span><b>60%</b></span> Match</span>
              </div>
            </div>
          </div>
        </div>
        <div class="bg-white rounded p-3 border my-3">
          <div class="row">
            <div class="col col-auto">
              <img class="round img-fluid" src="assets/images/google.png" alt="google">
            </div>
            <div class="col">
              <h2 class="fs-14 fw-bold">Movemeon Strategy Maneager | Linkedin</h2>
              <p class="fs-14 m-0">Pastry sesame snaps dragée lmon drops marshmallow dessert icing.</p>
              <span class="badge fw-bold bg-theme btn-light mb-2">Shortlisting in <span class="text-primary">2
                  days</span></span>
              <ul class="m-0 p-0 fs-13">
                <li class="d-inline-block text-nowrap me-4 mb-2"><img class="me-2" src="assets/images/location.svg">London,UK
                </li>
                <li class="d-inline-block text-nowrap me-4 mb-2"><img class="me-2" src="assets/images/Vector.svg">Sponsorshop
                  provided</li>
                <li class="d-inline-block text-nowrap me-4 mb-2"><img class="me-2" src="assets/images/75k.svg">75k</li>
                <li class="d-inline-block text-nowrap me-4 mb-2"><img class="me-2" src="assets/images/Group.svg">Associate
                </li>
                <li class="d-inline-block text-nowrap me-4 mb-2"><img class="me-2" src="assets/images/jobs-active.svg">Full
                  Time
                </li>
              </ul>
            </div>
            <div class="col col-auto text-end d-none d-sm-block">
              <div class="d-flex flex-column">
                <div class="pb-4">
                  <span class="badge fw-normal rounded-pill text-danger border  border-danger me-2">viewed</span><a
                    class="me-2" ><img src="assets/images/Favorite.svg" alt=""></a>
                </div>
                <span class="badge fw-normal bg-gray text-dark py-2"><span><b>60%</b></span> Match</span>
              </div>
            </div>
          </div>
        </div>
        <div class="bg-white rounded p-3 border my-3">
          <div class="row">
            <div class="col col-auto">
              <img class="round img-fluid" src="assets/images/M.png" alt="image 1">
            </div>
            <div class="col">
              <h2 class="fs-14 fw-bold">Movemeon Strategy Manager | Linkedin</h2>
              <p class="fs-14 m-0">Pastry sesame snaps dragée lemon drops marshmallow dessert icing.</p>
              <span class="badge fw-bold bg-theme btn-light mb-2">Shortlisting in <span class="text-primary">2
                  days</span></span>
              <ul class="m-0 p-0 fs-13">
                <li class="d-inline-block text-nowrap me-4 mb-2"><img class="me-2" src="assets/images/location.svg">London,UK
                </li>
                <li class="d-inline-block text-nowrap me-4 mb-2"><img class="me-2" src="assets/images/Vector.svg">Sponsorshop
                  provided</li>
                <li class="d-inline-block text-nowrap me-4 mb-2"><img class="me-2" src="assets/images/75k.svg">75k</li>
                <li class="d-inline-block text-nowrap me-4 mb-2"><img class="me-2" src="assets/images/Group.svg">Associate
                </li>
                <li class="d-inline-block text-nowrap me-4 mb-2"><img class="me-2" src="assets/images/jobs-active.svg">Full
                  Time
                </li>
              </ul>
            </div>
            <div class="col col-auto text-end d-none d-sm-block">
              <div class="d-flex flex-column">
                <div class="pb-4">
                  <span class="badge fw-normal rounded-pill text-danger border  border-danger me-2">viewed</span><a
                    class="me-2" ><img src="assets/images/Favorite.svg" alt="Favorite2"></a>
                </div>
                <span class="badge fw-normal bg-gray text-dark py-2"><span><b>60%</b></span> Match</span>
              </div>
            </div>
          </div>
        </div>
        <div class="bg-white rounded p-3 border my-3">
          <div class="row">
            <div class="col col-auto">
              <img class="round img-fluid" src="assets/images/image 1.png" alt="image 1">
            </div>
            <div class="col">
              <h2 class="fs-14 fw-bold">Movemeon Strategy Manager | Linkedin</h2>
              <p class="fs-14 m-0">Pastry sesame snaps dragée lemon drops marshmallow dessert icing.</p>
              <span class="badge fw-bold bg-theme btn-light mb-2">Shortlisting in <span class="text-primary">2
                  days</span></span>
              <ul class="m-0 p-0 fs-13">
                <li class="d-inline-block text-nowrap me-4 mb-2"><img class="me-2" src="assets/images/location.svg">London,UK
                </li>
                <li class="d-inline-block text-nowrap me-4 mb-2"><img class="me-2" src="assets/images/Vector.svg">Sponsorshop
                  provided</li>
                <li class="d-inline-block text-nowrap me-4 mb-2"><img class="me-2" src="assets/images/75k.svg">75k</li>
                <li class="d-inline-block text-nowrap me-4 mb-2"><img class="me-2" src="assets/images/Group.svg">Associate
                </li>
                <li class="d-inline-block text-nowrap me-4 mb-2"><img class="me-2" src="assets/images/jobs-active.svg">Full
                  Time
                </li>
              </ul>
            </div>
            <div class="col col-auto text-end d-none d-sm-block">
              <div class="d-flex flex-column">
                <div class="pb-4">
                  <span class="badge fw-normal rounded-pill text-danger border  border-danger me-2">viewed</span><a
                    class="me-2" ><img src="assets/images/Favorite.svg" alt="Favorite2"></a>
                </div>
                <span class="badge fw-normal bg-gray text-dark  py-2"><span><b>60%</b></span> Match</span>
              </div>
            </div>
          </div>
        </div>
      </div>
