<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom bg-light">
  <div class="container">
    <a class="navbar-brand" ><img src="assets/images/logo.png"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <button type="button" class="btn">
        <img src="assets/images/flag-england.svg" alt="Flag" />
      </button>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="bg-white border rounded my-3 px-5 py-3">
        <ul class="wizard">
          <li class="step-done"><a >Your Information</a></li>
          <li class="step-active"><a >Your Preferences</a></li>
          <li><a disabled >You Experience</a></li>
          <li><a disabled >Profile Settings</a></li>
        </ul>
        <div class="progress mt-3 ">
          <div class="progress-bar btn-primary" role="progressbar" style="width: 6%" aria-valuenow="25"
            aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <span class="fs-6"><b>1/5</b></span>
        <div class="text-center">
          <h3 class="fs-6 fw-bold">What type of jobs are you interested in?</h3>
          <div class="form-check mb-3 px-0">
            <input class="form-check-input bg-theme border-0 float-none me-2" type="checkbox" value="" id="">
            <label class="form-check-label fs-14" for="On a project">
              On a project
            </label>
          </div>
          <div class="form-check mb-3 px-0">
            <input class="form-check-input bg-theme border-0 float-none me-2" type="checkbox" value="" id="">
            <label class="form-check-label fs-14" for="In a permanent position">
              In a permanent position
            </label>
          </div>
          <div class="form-check mb-3 px-0">
            <input class="form-check-input bg-theme border-0 float-none me-2" type="checkbox" value="" id="">
            <label class="form-check-label fs-14" for="Not currently employed">
              Not currently employed
            </label>
          </div>
          <button type="button" class="btn btn-outline-primary text-primary fs-14 me-2">Back</button>
          <button type="button" class="btn btn-primary fs-14">Next</button>
        </div>
      </div>

    </div>
  </div>