<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom bg-light">
    <div class="container">
      <a class="navbar-brand" ><img src="assets/images/logo.png"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <button type="button" class="btn">
          <img src="assets/images/flag-england.svg" alt="Flag" />
        </button>
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="fs-24 text-center fw-bolder pt-4">X live opportunities match your preferences - You are just one<br>
          step being able to view and apply to all live jobs</h2>
      </div>
      <div class="text-center my-2">
        <button type="button" class="btn btn-primary">Enter movemeon <img src="assets/images/chevron_right.svg"
            alt="chevron_right"></button>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="bg-white rounded p-3 border my-3">
          <div class="row">
            <div class="col col-auto">
              <img class="round img-fluid" src="assets/images/linkedin2.png" alt="LinkedIn">
            </div>
            <div class="col">
              <div class="d-flex justify-content-between align-items-center">
                <h2 class="fs-14 fw-bold">Product Marketing strategy expert | LinkedIn</h2>
                <a class="me-2" ><img src="assets/images/Favorite2.svg" alt="Favorite2"></a>
              </div>
              <ul class="m-0 p-0 fs-13">
                <li class="d-block me-4 mb-2"><img class="me-2" src="assets/images/location.svg">London,UK
                </li>
                <li class="d-block me-4 mb-2"><img class="me-2" src="assets/images/Vector.svg">Sponsorshop
                  provided</li>
                <li class="d-block me-4 mb-2"><img class="me-2" src="assets/images/75k.svg">75k</li>
                <li class="d-block me-4 mb-2"><img class="me-2" src="assets/images/Group.svg">Associate
                </li>
                <li class="d-block me-4 mb-2"><img class="me-2" src="assets/images/jobs-active.svg">Full Time
                </li>
              </ul>
              <div class="row">
                <div class="col-md-12"><span
                    class="badge fw-normal bg-gray text-dark py-2 d-block"><span><b>60%</b></span> Match</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="bg-white rounded p-3 border my-3">
          <div class="row">
            <div class="col col-auto">
              <img class="round img-fluid" src="assets/images/linkedin2.png" alt="LinkedIn">
            </div>
            <div class="col">
              <div class="d-flex justify-content-between align-items-center">
                <h2 class="fs-14 fw-bold">Product Marketing strategy expert | LinkedIn</h2>
                <a class="me-2" ><img src="assets/images/Favorite2.svg" alt="Favorite2"></a>
              </div>
              <ul class="m-0 p-0 fs-13">
                <li class="d-block me-4 mb-2"><img class="me-2" src="assets/images/location.svg">London,UK
                </li>
                <li class="d-block me-4 mb-2"><img class="me-2" src="assets/images/Vector.svg">Sponsorshop
                  provided</li>
                <li class="d-block me-4 mb-2"><img class="me-2" src="assets/images/75k.svg">75k</li>
                <li class="d-block me-4 mb-2"><img class="me-2" src="assets/images/Group.svg">Associate
                </li>
                <li class="d-block me-4 mb-2"><img class="me-2" src="assets/images/jobs-active.svg">Full Time
                </li>
              </ul>
              <div class="row">
                <div class="col-md-12"><span
                    class="badge fw-normal bg-gray text-dark py-2 d-block"><span><b>60%</b></span> Match</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="bg-white rounded p-3 border my-3">
          <div class="row">
            <div class="col col-auto">
              <img class="round img-fluid" src="assets/images/linkedin2.png" alt="LinkedIn">
            </div>
            <div class="col">
              <div class="d-flex justify-content-between align-items-center">
                <h2 class="fs-14 fw-bold">Product Marketing strategy expert | LinkedIn</h2>
                <a class="me-2" ><img src="assets/images/Favorite2.svg" alt="Favorite2"></a>
              </div>
              <ul class="m-0 p-0 fs-13">
                <li class="d-block me-4 mb-2"><img class="me-2" src="assets/images/location.svg">London,UK
                </li>
                <li class="d-block me-4 mb-2"><img class="me-2" src="assets/images/Vector.svg">Sponsorshop
                  provided</li>
                <li class="d-block me-4 mb-2"><img class="me-2" src="assets/images/75k.svg">75k</li>
                <li class="d-block me-4 mb-2"><img class="me-2" src="assets/images/Group.svg">Associate
                </li>
                <li class="d-block me-4 mb-2"><img class="me-2" src="assets/images/jobs-active.svg">Full Time
                </li>
              </ul>
              <div class="row">
                <div class="col-md-12"><span
                    class="badge fw-normal bg-gray text-dark py-2 d-block"><span><b>60%</b></span> Match</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="bg-white rounded p-3 border my-3">
          <div class="row">
            <div class="col col-auto">
              <img class="round img-fluid" src="assets/images/linkedin2.png" alt="LinkedIn">
            </div>
            <div class="col">
              <div class="d-flex justify-content-between align-items-center">
                <h2 class="fs-14 fw-bold">Product Marketing strategy expert | LinkedIn</h2>
                <a class="me-2" ><img src="assets/images/Favorite2.svg" alt="Favorite2"></a>
              </div>
              <ul class="m-0 p-0 fs-13">
                <li class="d-block me-4 mb-2"><img class="me-2" src="assets/images/location.svg">London,UK
                </li>
                <li class="d-block me-4 mb-2"><img class="me-2" src="assets/images/Vector.svg">Sponsorshop
                  provided</li>
                <li class="d-block me-4 mb-2"><img class="me-2" src="assets/images/75k.svg">75k</li>
                <li class="d-block me-4 mb-2"><img class="me-2" src="assets/images/Group.svg">Associate
                </li>
                <li class="d-block me-4 mb-2"><img class="me-2" src="assets/images/jobs-active.svg">Full Time
                </li>
              </ul>
              <div class="row">
                <div class="col-md-12"><span
                    class="badge fw-normal bg-gray text-dark py-2 d-block"><span><b>60%</b></span> Match</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
